@model IEnumerable<Reservations.DATA.EF.Reservation>

@{
    ViewBag.Title = "Reservations";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin")|| User.IsInRole("Customer"))
{
    <p>
        @Html.ActionLink("Add New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerAsset.AssetName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReservationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerAsset.AssetName)
        </td>
        <td>

            @Html.ActionLink("Details", "Details", new { id = item.LocationId })

        </td>
        @if (User.IsInRole("Admin") || User.IsInRole("Customer"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LocationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LocationId })
            </td>
        }
    </tr>
    }

</table>
